header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}

header h1 {
  margin: 0;
  font-size: 1.25rem;
}

header p {
  margin: 0;
}

header img {
  width: 7rem;
}
